vllm
modelscope
tiktoken
pdfplumber
PdfReader
PyPDF2
langchain-core>=0.3.29
langchain-community>=0.0.27
langchain-huggingface>=0.1.2
sentence-transformers>=2.6.0
faiss-cpu>=1.8.0
torch>=2.0.0
numpy>=1.24.0
tqdm>=4.65.0
scikit-learn>=1.0.2
transformers>=4.39.0
pydantic>=2.5.2
